.container {
  margin: 32px 0;
  padding: 0;
  list-style: none;
  max-height: 310px;
  overflow: scroll;
  flex-grow: 1;
}

.emptyWarning {
  padding: 32px;
  text-align: center;
}

.estimatedTime {
  color: var(--font-light-color);
}

.taskEnter {
  opacity: 0;
  transform: translate(0, 100px);
}

.taskEnterActive {
  opacity: 1;
  transform: translate(0);
  transition: transform 0.3s, opacity 0.3s;
}
