.container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 80px;
  box-shadow: 0 10px 63px rgb(0 0 0 / 7%);
}

.statistics {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--red);
}

.statistics svg {
  fill: var(--red);
}

.statistics:hover {
  color: var(--red-hover);
}

.statistics:hover svg {
  fill: var(--red-hover);
}
