.container {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 80px;
  background-color: var(--tile-bg-color);
  box-shadow: 0 10px 63px rgb(0 0 0 / 15%);
  gap: 16px;
  transition: background-color 0.3s;
}

.logo {
  margin-right: auto;
}

.btn {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  padding: 8px;
  border-radius: 10px;
  font-size: 0;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: var(--accent-hover-color);
}

.btn svg path {
  fill: var(--accent-color);
}

@media all and (max-width: 1400px) {
  .container {
    padding: 16px;
  }
}
