.container {
  padding: 48px 24px;
  background-image: url("/img/pomodoro.svg");
  background-repeat: no-repeat;
  background-position: right 24px center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.value {
  font-weight: 500;
  font-size: 96px;
  margin: 0;
}

.title {
  font-weight: 500;
  font-size: 36px;
  margin: 0;
}

@media all and (max-width: 1400px) {
  .value {
    font-size: 80px;
  }

  .title {
    font-size: 30px;
  }
}

@media all and (max-width: 1200px) {
  .container {
    background-position-y: 36px;
    background-size: 40%;
    justify-content: space-evenly;
  }
}
