.container {
  grid-template: auto 1fr 1fr 200px / repeat(3, 1fr);
  grid-template-areas:
    "top-bar top-bar top-bar"
    "activity chart chart"
    "pomodoro-counter chart chart"
    "mark-container mark-container mark-container";
}

.topBar {
  grid-area: top-bar;
}

.activity {
  grid-area: activity;
}

.chart {
  grid-area: chart;
}

.pomodoroCounter {
  grid-area: pomodoro-counter;
}

.markContainer {
  grid-area: mark-container;
}
