.container {
  display: grid;
  grid-template-areas:
    ". timer timer addBtn"
    ". descr descr ."
    ". primaryBtn secondaryBtn .";
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  justify-self: center;
  padding: 70px 0 100px;
  background-color: var(--greyF4);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  color: var(--white);
  background-color: var(--greyC4);
}

.headerTitle {
  margin: 0;
  font-size: 16px;
}

/* .pomodoroNum {} */

.timer {
  grid-area: timer;
  font-weight: 100;
  font-size: 142px;
  text-align: center;
}

.descr {
  grid-area: descr;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}

.btn {
  width: 145px;
  padding: 18px 0;
  border: 2px solid transparent;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
}

.btn[disabled] {
  opacity: 0.5;
  filter: grayscale(1);
  pointer-events: none;
}

.primaryBtn {
  grid-area: primaryBtn;
  justify-self: end;
  border: transparent;
  color: var(--white);
  background-color: var(--green);
}

.primaryBtn:hover {
  background-color: var(--green-hover);
}

.secondaryBtn {
  grid-area: secondaryBtn;
  justify-self: start;
  border-color: var(--red);
  color: var(--red);
  background-color: transparent;
}

.descr span {
  color: var(--grey99);
}

.secondaryBtn:hover {
  color: var(--white);
  background-color: var(--red);
}

.addBtn {
  grid-area: addBtn;
  align-self: center;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.addBtn:hover svg circle {
  fill: var(--green-hover);
}

.addBtn:active svg circle {
  filter: brightness(0.9);
}

@media all and (max-width: 1440px) {
  .timer {
    font-size: 120px;
  }
}
