.container {
  padding: 32px 64px;
  background-image: url("/img/focused.png");
  background-position: top 32px right 64px;
  background-size: auto 80%;
  background-repeat: no-repeat;
}
/* stylelint-disable-next-line */
:global(.themeDark) .container {
  background-image: url("/img/focused_dark.png");
}

.title {
  margin: 0 0 16px;
  font-weight: 500;
}

.list {
  padding-left: 32px;
  line-height: 32px;
}

.list li::marker {
  color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  .container {
    background-image: url("/img/focused_dark.png");
  }
}
