.container {
  position: absolute;
  z-index: 300;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  background-color: var(--tile-bg-color);
  transform: translate(-49%, 30%);
  padding: 8px 0;
}

.container::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  background-color: var(--tile-bg-color);
  transform: rotate(45deg) translate(-50%, 50%);
  clip-path: polygon(100% 0, 0 0, 0 95%);
}

.btn {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 16px;
  border: none;
  color: var(--font-menu-color);
  background: none;
  font-size: 14px;
}

.btn svg {
  width: 18px;
  height: 18px;
}

.btn:hover {
  background-color: var(--menu-btn-hover-color);
}

.btn:active {
  background-color: var(--page-bg-color);
  transition: background-color 0.3s;
}

.btn[disabled] {
  pointer-events: none;
  filter: grayscale(1);
  opacity: 0.5;
}
