.task {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  border-bottom: 1px solid var(--greyC4);
}

.taskCompleted::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  opacity: 0.7;
}

.taskCompleted::after {
  content: "";
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 2px;
  background-color: var(--green);
}

.counterWrapper {
  display: flex;
  align-items: center;
}

.counterBtn {
  padding: 10px;
  border: none;
  border-radius: 50%;
  font-size: 0;
  background: none;
  transition: filter, transform 0.3s;
}

.counterBtn:hover {
  filter: brightness(0.8);
}

.counterBtn:active {
  transform: scale(0.98);
}

.counterBtn[disabled] {
  filter: grayscale(1);
  pointer-events: none;
}

.counter {
  width: 45px;
  line-height: 2;
  text-align: center;
}

.name {
  overflow: hidden;
  margin-right: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menuBtn {
  padding: 0;
  border: none;
  border-radius: 50%;
  font-size: 0;
  background-color: transparent;
  transition: background-color, transform 0.3s;
}

.menuBtn:hover {
  background-color: rgb(239 239 239);
}

.menuBtn:active {
  transform: scale(0.98);
}
