.container {
  margin: 32px 0;
  padding: 0;
  list-style: none;
  max-height: 330px;
  overflow: scroll;
}

.emptyWarning {
  padding: 32px;
  text-align: center;
}

.estimatedTime {
  color: var(--grey99);
}
