.container {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: flex-start;
  font-size: 16px;
}

.input {
  position: relative;
  width: 370px;
  padding: 18px 14px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: inherit;
  background-color: var(--input-bg-color);
  color: var(--font-primary-color);
  transition: background-color 0.3s, color 0.3s;
}

.input[aria-invalid="true"] {
  border-color: var(--negative-color);
}

.input + label {
  display: none;
}

.valueError {
  content: "";
  position: absolute;
  top: 64px;
  padding: 0 14px;
  font-size: 14px;
  color: var(--negative-color);
}

.submitBtn {
  padding: 18px 48px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: inherit;
  color: var(--font-btn-color);
  background-color: var(--btn-primary-color);
  transition: background-color 0.2s, transform 0.2s;
}

.submitBtn:hover {
  background-color: var(--btn-primary-hover-color);
}

.submitBtn:active {
  transform: scale(0.98);
}
