.container {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
  padding: 32px;
  border-radius: 16px;
  font-size: 18px;
  background-color: var(--tile-bg-color);
  align-items: center;
}

.descr {
  margin: 0 auto;
}

.submitBtn {
  align-self: center;
  width: 150px;
  padding: 16px;
  border: none;
  border-radius: 8px;
  color: var(--font-btn-color);
  background-color: var(--btn-primary-color);
  transition: background-color 0.3s, transform 0.3s;
}

.submitBtn:hover {
  background-color: var(--btn-primary-hover-color);
}

.submitBtn:active {
  transform: scale(0.98);
}

.abortBtn {
  border: none;
  text-decoration: underline;
  background: none;
  color: var(--font-primary-color);
}
