.container {
  grid-template: auto 1fr / 530px 1fr;
  grid-template-areas:
    "instruction instruction"
    "tasks taskWindow";
}

.instruction {
  grid-area: instruction;
}

.timerWindow {
  display: flex;
  flex-direction: column;
  grid-area: taskWindow;
}

.tasks {
  grid-area: tasks;
  overflow: visible;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
