:root {
  /* stylelint-disable-next-line  */
  --OFF: ;
  --ON: initial;
  --accent-color: var(--light, #ef5350) var(--dark, #457de6);
  --accent-hover-color: var(--light, rgba(255 115 102 / 42%)) var(--dark, #1f3966);
  --page-bg-color: var(--light, #e9e9e9) var(--dark, #00132e);
  --input-bg-color: var(--light, #e9e9e9) var(--dark, #00132e);
  --tile-bg-color: var(--light, #fff) var(--dark, #061e3f);
  --font-primary-color: var(--light, #272727) var(--dark, #fdfdfd);
  --font-secondary-color: var(--light, #fdfdfd) var(--dark, #fdfdfd);
  --font-light-color: var(--light, #949494) var(--dark, #457de6);
  --font-menu-color: var(--light, #595959) var(--dark, #fdfdfd);
  --font-btn-color: var(--light, #fdfdfd) var(--dark, #fdfdfd);
  --btn-primary-color: var(--light, #35b36e) var(--dark, #2a8553);
  --btn-primary-hover-color: var(--light, #2a8553) var(--dark, #35b36e);
  --btn-secondary-color: var(--light, #ef5350) var(--dark, #ef5350);
  --positive-color: var(--light, #35b36e) var(--dark, #2a8553);
  --positive-dark-color: var(--light, #bbe1cc) var(--dark, #2e734c);
  --negative-color: var(--light, #ef5350) var(--dark, #ef5350);
  --negative-dark-color: var(--light, #f5beba) var(--dark, #8f4c47);
  --neutral-color: var(--light, #ffae35) var(--dark, #b38137);
  --neutral-dark-color: var(--light, #f6deba) var(--dark, #806134);
  --inactive-color: var(--light, #c4c4c4) var(--dark, #455875);
  --border-color: var(--light, #c4c4c4) var(--dark, #455875);
  --menu-btn-hover-color: var(--light, #d9d9d9) var(--dark, #1f3966);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Verdana, sans-serif;
  color: var(--font-primary-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  outline: 2px solid transparent;
  cursor: pointer;
}

button:focus-visible {
  outline-color: var(--accent-color);
}

/* stylelint-disable-next-line */
#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.themeDefault,
.themeLight {
  --light: var(--ON);
  --dark: var(--OFF);
}

.themeDark {
  --light: var(--OFF);
  --dark: var(--ON);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.hidden {
  display: none;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

@media (prefers-color-scheme: dark) {
  .themeDefault {
    --light: var(--OFF);
    --dark: var(--ON);
  }
}
