.container {
  display: grid;
  flex-grow: 1;
  grid-template-areas:
    ". timer timer addBtn"
    ". descr descr ."
    ". primaryBtn secondaryBtn .";
  grid-template-columns: 1fr auto auto 1fr;
  column-gap: 16px;
  align-content: center;
  justify-self: center;
  padding: 32px;
}

.emptyTimer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 130px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  color: var(--font-secondary-color);
  background-color: var(--inactive-color);
}

.headerTitle {
  overflow: hidden;
  max-width: 70%;
  margin: 0;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.timer {
  grid-area: timer;
  width: 400px;
  font-family: "Azeret Mono", monospace;
  font-weight: 100;
  font-size: 120px;
  text-align: center;
}

.descr {
  grid-area: descr;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
  overflow: hidden;
  max-width: 370px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.descr span {
  color: var(--font-light-color);
}

.btn {
  width: 145px;
  padding: 18px 0;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.2s, color 0.1s, transform 0.2s;
}

.btn:active {
  transform: scale(0.98);
}

.btn[disabled] {
  opacity: 0.5;
  filter: grayscale(1);
  pointer-events: none;
}

.primaryBtn {
  grid-area: primaryBtn;
  justify-self: end;
  border: transparent;
  color: var(--font-btn-color);
  background-color: var(--btn-primary-color);
}

.primaryBtn:hover {
  background-color: var(--btn-primary-hover-color);
}

.secondaryBtn {
  grid-area: secondaryBtn;
  justify-self: start;
  border-color: var(--btn-secondary-color);
  color: var(--btn-secondary-color);
  background-color: transparent;
}

.secondaryBtn:hover {
  color: var(--font-btn-color);
  background-color: var(--btn-secondary-color);
}

.addBtn {
  grid-area: addBtn;
  align-self: center;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
}

.addBtn svg circle {
  fill: var(--menu-btn-hover-color);
  transition: fill 0.2s, filter 0.2s;
}

.addBtn:hover svg circle {
  fill: var(--btn-primary-hover-color);
}

.addBtn:active svg circle {
  filter: brightness(0.9);
}

@media all and (max-width: 1440px) {
  .timer {
    font-size: 120px;
  }
}
